@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



h1, h2, h3, h4, h5, h6{
  font-family: 'montserrat', sans-serif;
  color: #0000003b;
}

p, span, a, li, div, button {
  font-family: 'montserrat', sans-serif;
}


#root {
  --bg-color: #f0f0f0;
  --text-color: #333333;
  height: 100dvh;
}

